@import 'https://rsms.me/inter/inter.css';
@import 'tailwindcss';

@theme {
  --font-sans: 'InterVariable', ui-sans-serif, system-ui, sans-serif;
  --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@utility no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
